/*
    Auteur  : Younes Sayeh
    Date    : 06.08.2021
*/

/* Color variable */
:root {
    --maincolor: #3319c8;

    --backroundColor1: #b5c9ff;
    --backroundColor2: #cbdeff;

    --violetGrey: #f5f5fc;
    --mainGrey: #838383;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--backroundColor2);
}

.waveBackground {
    width: 100%;
    height: 50%;
}

.waveBackgroundSvg {
    fill: var(--backroundColor1);
}

.mainContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.content {
    background-color: white;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    position: absolute;
    width: 440px;
    height: 700px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 39px;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentOffer {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: var(--violetGrey);
    border-radius: 10px;
    padding: 20px 25px;
    margin: 10px 0 0 0;
}

.offerType h3 {
    margin: 0;
    font-size: 18px;
}

.textOffer {
    margin: 0 0 0 20px;
}

.price p {
    margin: 5px 0 0 0;
    color: var(--mainGrey);
}

.changeOffer a {
    color: var(--maincolor);
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 0 75px;
}

.presentationText p {
    text-align: center;
    color: var(--mainGrey);
    line-height: 25px; 
}

img {
    border-radius: 25px 25px 0 0;
}

.title h2 {
    font-size: 30px;
    margin: 50px 0 0 0;
}

.icon {
    background-color: #d4d4eb;
    border-radius: 50%;
    padding: 10px;
}

.musicIcon {
    fill: #6b6b6b;
    width: 20px;
    height: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 50px 0 0 0;
}

.proceed {
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 0 102px;
    box-shadow: 0px 20px 30px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.proceed p {
    font-weight: bold;
    font-size: 15px;
}

.cancel {
    margin: 35px 0 0 0;
}

.cancel a {
    text-decoration: none;
    font-weight: bold;
    color: var(--mainGrey);
}